src/NHibernate.Tool.hbm2net/src/NHibernate.Tool.Db2hbm/config.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:nhibernate-codegen-2.2" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="db2hbm-conf">

    <xs:complexType>

      <xs:sequence>

        <xs:element name="metadata-strategies" maxOccurs="1" minOccurs="1" >

          <xs:complexType>

            <xs:sequence>

              <xs:element maxOccurs="unbounded" name="strategy" type="xs:string" />

            </xs:sequence>

          </xs:complexType>

        </xs:element>

        <xs:element name="naming-strategy" type="xs:string" maxOccurs="1" minOccurs="1"/>

        <xs:element name="connection-info" maxOccurs="1" minOccurs="1">

          <xs:complexType>

            <xs:sequence>

              <xs:element name="dialect" type="xs:string" maxOccurs="1" minOccurs="1"/>

              <xs:element name="connection-string" type="xs:string"  maxOccurs="1" minOccurs="1"/>

              <xs:element name="connection-driver" type="xs:string" maxOccurs="1" minOccurs="1" />

            </xs:sequence>

          </xs:complexType>

        </xs:element>

        <xs:element name="tables" maxOccurs="1" minOccurs="1">

          <xs:complexType>

            <xs:sequence>

              <xs:element maxOccurs="unbounded" name="table">

                <xs:complexType>

                  <xs:simpleContent>

                    <xs:extension base="xs:string">

                      <xs:attribute name="schema" type="xs:string" use="required" />

                      <xs:attribute name="catalog" type="xs:string" use="required" />

                    </xs:extension>

                  </xs:simpleContent>

                </xs:complexType>

              </xs:element>

            </xs:sequence>

          </xs:complexType>

        </xs:element>

        <xs:element name="entities-namespace" type="xs:string" maxOccurs="1" minOccurs="1"/>

        <xs:element name="output-folder" maxOccurs="1" minOccurs="0" />

        <xs:element name="additional-properties" maxOccurs="1" minOccurs="0">

          <xs:complexType>

            <xs:sequence>

              <xs:element maxOccurs="unbounded" name="property">

                <xs:complexType>

                  <xs:simpleContent>

                    <xs:extension base="xs:string">

                      <xs:attribute name="name" type="xs:string" use="required" />

                    </xs:extension>

                  </xs:simpleContent>

                </xs:complexType>

              </xs:element>

            </xs:sequence>

          </xs:complexType>

        </xs:element>

      </xs:sequence>

    </xs:complexType>

  </xs:element>

</xs:schema>