src/NHibernate.Tool.hbm2net/src/NHibernate.Tool.Db2hbm/config.xsd

<?xml version="1.0" encoding="Windows-1252"?>

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:nhibernate-codegen-2.2" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="db2hbm-conf">

    <xs:complexType>

      <xs:sequence>

        <xs:element name="metadata-strategies">

          <xs:complexType>

            <xs:sequence>

              <xs:element maxOccurs="unbounded" name="strategy" type="xs:string" />

            </xs:sequence>

          </xs:complexType>

        </xs:element>

        <xs:element name="naming-strategy" type="xs:string" />

        <xs:element name="connection-info">

          <xs:complexType>

            <xs:sequence>

              <xs:element name="dialect" type="xs:string" />

              <xs:element name="connection-string" type="xs:string" />

              <xs:element name="connection-driver" type="xs:string" />

            </xs:sequence>

          </xs:complexType>

        </xs:element>

        <xs:element name="tables">

          <xs:complexType>

            <xs:sequence>

              <xs:element maxOccurs="unbounded" name="table">

                <xs:complexType>

                  <xs:sequence minOccurs="0">

                    <xs:element name="primary-key">

                      <xs:complexType>

                        <xs:sequence>

                          <xs:element name="generator">

                            <xs:complexType>

                              <xs:sequence>

                                <xs:element maxOccurs="unbounded" name="param">

                                  <xs:complexType>

                                    <xs:simpleContent>

                                      <xs:extension base="xs:string">

                                        <xs:attribute name="name" type="xs:string" use="required" />

                                      </xs:extension>

                                    </xs:simpleContent>

                                  </xs:complexType>

                                </xs:element>

                              </xs:sequence>

                              <xs:attribute name="class" type="xs:string" use="required" />

                            </xs:complexType>

                          </xs:element>

                          <xs:element maxOccurs="unbounded" name="key-column">

                            <xs:complexType>

                              <xs:attribute name="name" type="xs:string" use="required" />

                              <xs:attribute name="dbtype" type="xs:string" use="required" />

                            </xs:complexType>

                          </xs:element>

                        </xs:sequence>

                      </xs:complexType>

                    </xs:element>

                    <xs:element maxOccurs="unbounded" name="foreign-key">

                      <xs:complexType>

                        <xs:sequence>

                          <xs:element maxOccurs="unbounded" name="column-ref">

                            <xs:complexType>

                              <xs:attribute name="local-column" type="xs:string" use="required" />

                              <xs:attribute name="foreign-column" type="xs:string" use="required" />

                            </xs:complexType>

                          </xs:element>

                        </xs:sequence>

                        <xs:attribute name="constraint-name" type="xs:string" use="required" />

                        <xs:attribute name="foreign-catalog" type="xs:string" use="required" />

                        <xs:attribute name="foreign-schema" type="xs:string" use="required" />

                        <xs:attribute name="foreign-table" type="xs:string" use="required" />

                      </xs:complexType>

                    </xs:element>

                  </xs:sequence>

                  <xs:attribute name="schema" type="xs:string" use="required" />

                  <xs:attribute name="catalog" type="xs:string" use="required" />

                </xs:complexType>

              </xs:element>

            </xs:sequence>

          </xs:complexType>

        </xs:element>

        <xs:element name="entities-namespace" type="xs:string" />

        <xs:element name="entities-assembly" type="xs:string" />

        <xs:element name="output-folder" />

        <xs:element name="additional-properties">

          <xs:complexType>

            <xs:sequence>

              <xs:element maxOccurs="unbounded" name="property">

                <xs:complexType>

                  <xs:simpleContent>

                    <xs:extension base="xs:string">

                      <xs:attribute name="name" type="xs:string" use="required" />

                    </xs:extension>

                  </xs:simpleContent>

                </xs:complexType>

              </xs:element>

            </xs:sequence>

          </xs:complexType>

        </xs:element>

      </xs:sequence>

    </xs:complexType>

  </xs:element>

</xs:schema>